.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.team-member {
    flex: 0 1 calc(33% - 10px);
    margin: 5px;
    perspective: 1000px;
    position: relative;
    text-align: center;
}

.team-member-inner {
    position: relative;
    width: 100px;
    height: 100px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.team-member h3 {
    margin-top: 8px;
    text-align: center;
}

.team-member-front, .team-member-back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

.team-member-front {
    z-index: 2;
}

.team-member-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.team-member-back {
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    transform: rotateY(180deg);
}

.team-member.flipped .team-member-inner {
    transform: rotateY(180deg);
}

@media (max-width: 768px) {
    .team-member {
        flex-basis: calc(50% - 10px); /* Adapt the size for smaller screens */
    }
}
